:root {
  --main-color: #ff305b;
  --second-color: #333333de;
  --main-font: "Roboto", sans-serif;
  --second-font: "Source Sans 3", sans-serif;
  --main-padding: 5rem;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    .container {
      width: 90%;
      margin-inline: auto;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */

nav {
  background-color: rgba(53, 51, 51, 0.916);
  padding-block: 0.125rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo h1 {
      font-size: 1.5rem;
      color: var(--main-color);
      font-weight: 800;
      font-family: var(--main-font);
    }

    .nav-links ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;

      li {
        color: #fff;
        transition: all 0.3s linear;
        font-family: var(--main-font);

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }
}

/* Home section */

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero\ img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  div.header-content {
    width: 31.25rem;
    text-align: center;

    p.hello {
      font-size: 1.5rem;
      color: #fff;
      font-weight: 600;
      margin-block: 0.625rem;
      font-family: var(--second-font);
    }
    p.title {
      font-size: 1.625rem;
      color: #fff;
      text-transform: capitalize;
      margin-block: 0.625rem;
      font-family: var(--second-font);
      &::after {
        content: " |";
        animation: typing 5s linear infinite;
      }
    }
    h2 {
      font-size: 4.375rem;
      color: var(--main-color);
      text-transform: uppercase;
      font-family: var(--main-font);
      margin-block: 0.625rem;
    }
  }
}

@keyframes typing {
  0% {
    content: " D|";
  }
  3% {
    content: " De|";
  }
  6% {
    content: " Dev|";
  }
  9% {
    content: " Deve|";
  }
  12% {
    content: " Devel|";
  }
  15% {
    content: " Develo|";
  }
  18% {
    content: " Develop|";
  }
  21% {
    content: " Develope|";
  }
  23% {
    content: " Developer |";
  }
  26% {
    content: " Develope|";
  }
  29% {
    content: " Develop|";
  }
  32% {
    content: " Develo|";
  }
  35% {
    content: " Devel|";
  }
  38% {
    content: " Deve|";
  }

  41% {
    content: " Dev|";
  }

  44% {
    content: " De|";
  }
  47% {
    content: " D|";
  }
  50% {
    content: " |";
  }
  53% {
    content: " D|";
  }
  56% {
    content: " De|";
  }
  59% {
    content: " Des|";
  }
  62% {
    content: " Desi|";
  }
  65% {
    content: " Desig|";
  }
  68% {
    content: " Design|";
  }
  71% {
    content: " Designe|";
  }
  74% {
    content: " Designer |";
  }
  77% {
    content: " Designe|";
  }
  80% {
    content: " Design|";
  }
  83% {
    content: " Desig|";
  }
  86% {
    content: " Desi|";
  }
  89% {
    content: " Des|";
  }
  92% {
    content: " De|";
  }
  95% {
    content: " D|";
  }
  100% {
    content: " |";
  }
}

/* About Section */

section.about-sec {
  padding-block: var(--main-padding);
  color: var(--second-color);
  font-family: var(--main-font);

  .about-part {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    gap: 1rem;

    .photo-part {
      position: relative;

      .border-div {
        width: 80%;
        height: 100%;
        border: solid 0.5rem var(--second-color);
        border-radius: 0.625rem;
        position: relative;

        .image-div {
          width: 100%;
          position: absolute;
          top: 1.5625rem;
          left: 1.5625rem;
          border-radius: 0.625rem;
          overflow: hidden;
          img {
            border-radius: 0.625rem;
            display: block;
          }

          .layer {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.625rem;
            transform: translateY(100%);
            transition: all 0.3s linear;
            div.about-icons {
              color: white;
              display: flex;
              gap: 1.25rem;
              align-items: center;
              justify-content: center;

              a {
                transition: all 0.2s linear;
                &:hover {
                  color: var(--main-color);
                }
              }
            }
          }
          &:hover .layer {
            transform: translateY(0%);
          }
        }
      }
    }

    .content-part {
      h2 {
        text-transform: uppercase;
        font-size: 2.125rem;
        font-weight: 600;
        position: relative;
        margin-left: 0.625rem;
        font-family: var(--second-font);
        margin-bottom: 0.5rem;
        margin-top: 0;
        font-weight: 700;

        &::before {
          content: "";
          background-color: var(--main-color);
          width: 0.3125rem;
          height: 1.56rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -0.8125rem;
        }
      }
      div.hello p {
        line-height: 1.5625rem;
        font-weight: 400;
        margin-top: 0;
        padding-bottom: 1.5625rem;
        border-bottom: dashed 0.0625rem var(--second-color);
      }
      div.about-details .details {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 29.375rem;

        span {
          color: black;
          font-weight: 500;
        }
      }
      .details-btns button {
        background-color: var(--main-color);
        border: none;
        border-radius: 0.3125rem;
        padding-inline: 1.5625rem;
        padding-block: 0.8125rem;
        color: white;
        font-size: 1.0313rem;
        text-transform: capitalize;
        margin-right: 0.625rem;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          background-color: #ec2403;
        }
      }
    }
  }
}

/* Heading of each section */
section.services-sec div,
section.portfolio-sec div,
section.testimonial-sec div,
section.blog-sec div,
section.contact-sec div {
  div.heading {
    position: relative;
    h2 {
      font-size: 2.5rem;
      font-weight: 800;
      text-transform: capitalize;
      color: var(--second-color);
      position: relative;
      width: fit;
      margin-bottom: 0.8125rem;
      margin-top: 0;
      font-family: var(--main-font);
      text-align: center;
    }

    .line {
      width: 9.5rem;
      height: 0.11rem;
      background: var(--main-color);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: "";
        width: 5rem;
        height: 0.05rem;
        background-color: var(--main-color);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.25rem;
      }
      &::after {
        content: "";
        width: 5rem;
        height: 0.05rem;
        background-color: var(--main-color);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0.25rem;
      }
    }
  }
}

/* Services Section */

section.services-sec {
  padding-block: var(--main-padding);
  background-color: #f1f1f1;
  text-align: center;
  font-family: var(--main-font);

  div.parts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding-top: 2rem;

    div.part {
      transition: all 0.2s linear;
      padding-top: 2rem;

      i {
        color: var(--main-color);
        font-size: 1.875rem;
        transition: all 0.2s linear;
      }
      h3 {
        font-size: 1.5rem;
        color: var(--second-color);
      }
      p {
        line-height: 1.5625rem;
        font-weight: 300;
        margin-top: 0;
        padding-bottom: 1.5625rem;
      }
      &:hover {
        background-color: #fff;
      }
      &:hover i {
        transform: scale(1.2);
      }
    }
  }
}

/* Portfolio Section */
.portfolio-sec {
  padding-top: var(--main-padding);
  div.portfolio-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2.5rem;
    padding-top: 3.5rem;

    li {
      text-transform: uppercase;
      letter-spacing: 0.07rem;
      font-family: var(--main-font);
    }
    li.all {
      color: var(--main-color);
    }
  }
  .portfolio-imgs {
    display: flex;
    flex-wrap: wrap;

    picture {
      width: 33.3333%;
      position: relative;
      overflow: hidden;
      padding: 1rem;
      cursor: pointer;

      div.layer {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity 0.2s linear;
        margin: 1rem;
        opacity: 0;
      }
      img {
        width: 100%;
        display: block;
        cursor: pointer;
      }
      &:hover div.layer {
        opacity: 1;
      }
    }
  }

  .numbers {
    background-color: #f1f1f1;
    padding-block: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    margin-top: 4rem;

    div {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: var(--main-color);
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
      span {
        color: var(--second-color);
        font-size: 1.625rem;
        font-weight: 800;
        padding-top: 0.5rem;
      }
      p {
        font-weight: 600;
        color: var(--second-color);
        margin-block: 0.3rem;
      }
    }
  }
}

/* Testimonial Section */
section.testimonial-sec {
  padding-block: var(--main-padding);
  font-family: var(--main-font);

  div.testimonial-container {
    max-width: 65%;
    margin-inline: auto;
    background-color: rgba(232, 231, 231, 0.637);
    border-radius: 0.4rem;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    position: relative;
    border-radius: 0.5rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-top: 12rem solid var(--main-color);
      border-right: 12rem solid transparent;
      border-top-left-radius: 0.4rem;
    }

    .person {
      width: 41%;
      padding-top: 1.5rem;
      img {
        width: 100%;
        border-radius: 100%;
        position: relative;
        z-index: 10;
      }
    }
    .feedback {
      h3 {
        font-family: var(--second-font);
        color: var(--second-color);
        margin-bottom: 0.625rem;
        font-size: 1.625rem;
        font-weight: 600;
      }
      span {
        color: #555555d1;
        text-transform: capitalize;
        i {
          font-size: 0.9rem;
        }
      }
      p {
        font-style: italic;
        color: #555;
        line-height: 1.5rem;
      }
      ul {
        display: flex;
        margin-top: 1rem;
        gap: 0.1rem;
        li i {
          font-size: 0.85rem;
          color: #f1c30d;
        }
      }
    }
  }
  .testimonial-dots {
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    .first {
      width: 1.5625rem;
      height: 0.5625rem;
      border-radius: 0.9375rem;
      background-color: var(--main-color);
      cursor: pointer;
    }
    span {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 100%;
      border: 0.0625rem solid var(--main-color);
      cursor: pointer;
    }
  }
}
/* Blog Section */
section.blog-sec {
  background-color: #f1f1f1;
  padding-block: var(--main-padding);

  .blogs {
    display: flex;
    gap: 1.5rem;
    margin-block: 3rem;

    .blog {
      background-color: white;
      border-radius: 0.5rem;
      padding-bottom: 1rem;
      .img-container {
        img,
        iframe {
          width: 100%;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }
        iframe {
          aspect-ratio: 16 / 9;
        }
      }
    }
    .blog-content {
      padding-inline: 1.2rem;
      font-family: var(--main-font);
      padding-top: 1rem;

      span {
        color: #555;
      }
      h3 {
        color: var(--second-color);
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-block: 0.6rem;
        transition: color 0.2s linear;
        cursor: default;
        &:hover {
          color: var(--main-color);
        }
      }
      p {
        color: #555;
        line-height: 1.5625rem;
        font-weight: 400;
        margin-top: 0;
      }
      a {
        text-transform: capitalize;
        transition: color 0.2s linear;
        i {
          font-size: 0.8125rem;
          color: var(--second-color);
          transition: color 0.2s linear;
        }
        &:hover {
          color: var(--main-color);
        }
        &:hover i {
          color: var(--main-color);
        }
      }
    }
  }
}

/* Contact Section */
section.contact-sec {
  padding-block: var(--main-padding);
  font-family: var(--main-font);
  .form-container {
    max-width: 65%;
    margin-inline: auto;
    padding-block: 2.5rem;

    form {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        "name name email email"
        "subject subject subject subject"
        "message message message message";

      div.name,
      div.email,
      div.subject,
      div.message {
        label {
          display: none;
        }
        input {
          width: 100%;
          padding: 0.7rem;
          border: 0.0625rem solid #55555546;
          border-radius: 0.2rem;
          box-shadow: 0 0 0.0625rem #555;
        }
        textarea {
          width: 100%;
          padding: 0.7rem;
          border: 0.0625rem solid #55555546;
          border-radius: 0.1875rem;
          box-shadow: 0 0 0.0625rem #555;
          resize: vertical;
        }
      }
      div.name {
        grid-area: name;
      }
      div.email {
        grid-area: email;
      }
      div.subject {
        grid-area: subject;
      }
      div.message {
        grid-area: message;
      }
      button {
        width: fit-content;
        background-color: var(--main-color);
        padding: 0.8rem 1.3rem;
        border: none;
        color: white;
        border-radius: 0.3rem;
        text-transform: uppercase;
        transition: all 0.2s linear;
        &:hover {
          background-color: #ec2403;
        }
      }
    }
  }
}

/* Footer */
footer {
  background-color: rgb(51, 51, 51);
  padding-block: 3.125rem;
  text-align: center;
  color: #fff;
  font-family: var(--main-font);

  div p a {
    color: var(--main-color);
    transition: all 0.2s linear;
    &:hover {
      text-decoration: underline;
    }
  }
  div.footer-icons {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;

    a {
      transition: all 0.2s linear;
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
